{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'ratings/style.css' %}" />

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form action='/login/' method='POST'>
{% csrf_token %}
<center><table>
  <tr>
      <td>{{ form.username.label_tag }}</td><br>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>

</table></center>

<center><br>
  <input type="submit" value="login" />
</center>

<input type="hidden" name="next" value="http://localhost:8000/" />
</form>


{% endblock %}
